*{
    margin: 0;
    padding: 0;
}
.principal{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/img/background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.bar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #daa520;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
ul li a:hover{
    color: #daa520;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: arial;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #daa520;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #daa520;
    border: 2px solid #daa520;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: helvetica,sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.cn{
    width: 160px;
    height: 40px;
    background: #daa520;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.cn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s ease;
}
.cn:hover{
    background: #fff;
}
.content span{
    color: #daa520;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #daa520;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #daa520;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #ffffffbe;
    font-family: arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #daa520;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.btnn:hover{
    background: #fff;
    color: #daa520;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.link{
    font-family: arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #daa520;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons i{
    color: #fff;
    font-size: 30px;
    padding-left:14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons i:hover{
    color: #daa520;
}